@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Raleway:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
}

html,body{
  font-family: "Open Sans", sans-serif;
  color: #777777;
height: 100%;
}

/*------------------------------------------------------------------- Navbar --------------*/

.menu {
  font-size: 120%;
  color: #9bbcb3;
  font-weight: bold;
  list-style-type: none;
  letter-spacing: 4px;
  line-height: 45px;
  text-align: center;
  background-color:#fff;
  position: fixed;
  z-index: 1000;
  display: flex;
  width: 100%;
  height: 3em;
}

.menu ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: center;
}

.menu ul li {
  display: inline;
  padding: 5px;
}

.menu ul li a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  padding: 5px;
}

.menu ul li a:hover {
  border-bottom: 1px solid #777777;
  color: #40454b;
}

.showcase {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
  color: white;
}

.content{
    z-index: 100;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.video-container video {
  min-height: 100%;
  min-width: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%)
}

.video-container:after{
  content: '';
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
}


.logo {
  margin-top: 70px;
  padding: 10px;
  text-align: center;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.click-down{
    position: absolute;
    bottom: 5rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}

.arrow-down{
    width: 50px;
    height: 50px;
    transition: .5s;
    float: left;
    cursor: pointer;
    transform: rotate(-45deg);
    box-shadow: -2px 2px 0 rgba(255, 255, 255, .5);
  
    z-index: 1000;
}
/*------------------------------------------------------------------- Parallax --------------------*/
.bg-about{
background-image: url('../images/bg-img.jpg');
}

.bg-experience{
    background-image: url('../images/bg-about.jpg');
}

.bg-about, .bg-experience{
    position: relative;
    opacity: 0.95;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100%;
}


/*------------------------------------------------------------------- About --------------------*/
.bg-about{
display: block;
}

#circle-container {
  width: 240px;
  height: 240px;
  padding: 20px;
  border-style: solid;
  border-width: 1px;
  border-radius: 50%;
  margin: 0 auto;
  z-index: 100;
}

#circle-cover-bg {
  background: url("../../assets/images/profile-img-test.png") no-repeat center
    center;
  height: 100%;
  border-radius: 50%;
}

.profile-pic{
    padding-top: 180px;
}

.profile-text {
  font-size: 130%;
  letter-spacing: normal;
  text-align:justify;
  color: #777777;

 margin:0 auto;

  width: 800px;
  height: 250px;

  padding-top: 150px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 30px;

  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}


/*------------------------------------------------------------------- Progressbars --------------*/
#skills-heading{
    padding: 50px;
    color: #9bbcb3;
}

div.skills-container {
display: flex;
justify-content: space-around;
align-items: center;
flex-wrap: wrap;
margin: 0 auto;
right: 30px;
}

div.radialProgressBar {
  border-radius: 50%;
  -webkit-transform: translate(50%, 50%);
  transform: translate(50%, 50%);
  width: 100px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  background: #ddd;
  margin: 20px;
}

div.radialProgressBar .overlay {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin: auto;
  background: #fff;
  text-align: center;
  padding-top: 30%;
}

.radialProgressBar.progress-60 {
  background-image: -webkit-linear-gradient(left, #9bbcb9 50%, transparent 50%),
    -webkit-linear-gradient(36deg, #9bbcb9 50%, #ddd 50%);
  background-image: linear-gradient(90deg, #9bbcb9 50%, transparent 50%),
    linear-gradient(54deg, #9bbcb9 50%, #ddd 50%);
}
/*------------------------------------------------------------------- Timeline --------------*/

.bg-experience{
    margin-top: 5rem;

}

#experience-heading{
color: #fff;
padding: 30px;
margin: 50px auto;
}

.timeline{
    margin: 0 auto;
    padding: 40px;
}

.timeline-item {
  padding: 4em 2em 0em 2em;
  position: relative;
  color: #fff;
  border-left: 1px solid;
}

.timeline-item p {
  font-weight: 700;
  padding: 0;
  margin: 0;
}

.timeline-item::before {
  content: attr(data-dates);
  position: absolute;
  left: 2.5em;
  top: 2em;
  display: block;
  font-size: 1em;
  padding: 0;
  margin: 0;
}

.timeline-item::after {
  width: 12px;
  height: 12px;
  display: block;
  top: 2.4em;
  position: absolute;
  left: -6px;
  border-radius: 12px;
  content: "";
  background: #fff;
}

.history-items {
  margin-bottom: 30px;
}
/*------------------------------------------------------------------- Contact Form --------------*/

.bg-contact {
  position: relative;
  z-index: 1;
  justify-content: center;
  display: block;
  height: 100%;
  background-image: url("../../assets/images/bg-contact.jpg");
  background-position: center;
  background-repeat: no-repeat;
}


.contact-form {
  margin: 90px auto;
  color: #fff;
  background-color: rgba(60, 60, 60, 0.6);
  position: relative;
  align-content: center;
  max-width: 400px;
}

.contact-heading {
  font-weight: 300;
  margin-top: 25px;
  margin-bottom: 25px;
  color: white;
}

.form-item {
  margin-top: 10px;
}

.form-item:hover {
  border-color: #6db9d9;
}

button[type="submit"] {
  margin-top: 15px;
  margin-bottom: 20px;
  background-color: #9bbcb3;
  border-style: none;
}

/*------------------------------------------------------------------- Footer ---------------------*/

footer {
  background-color: #9bbcb3;
  color: #fafafa;
  min-height: 80px;
  margin: 0;
  text-align: center;
  padding-top: 20px;
}

.socil-links {
  padding-bottom: 15px;
}

.social-links li a i {
  width: 40px;
  height: 40px;
  padding: 12px 0;
  border-radius: 50%;
  font-size: 30px;
  line-height: 15px;
  text-align: center;
  color: #fafafa;
  background: #7f8d89;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
  background: #6db9d9;
}

#download-text {
  font-size: 20px;
  align-content: center;
  color: #fafafa;
  letter-spacing: normal;
}

#download-text:hover {
  color: #6db9d9;
}

.cv-pdf i {
  font-size: 25px;
  color: #fafafa;
  text-align: center;
  padding-left: 5px;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.cv-pdf i:hover {
  color: #6db9d9;
}
/*------------------------------------------------------------------- Media Queries --------------*/

@media screen and (max-width: 1396px) {

  (min-width: 992px) {




    .center-form {
      padding-top: 30px;
      min-height: 240px;
      max-width: 50%;
      margin: 0 auto;
    }
  }
}

@media screen and (max-width:576px) {

.bg-about {
    min-height: 150%;
}

}

@media screen and (max-width:376px) {

.bg-about {
    min-height: 180%;
}

}