@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Raleway:wght@300&display=swap");
@media (min-width: 768px) {
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #777777;
  height: 100vh;
}

.nav-container {
  width: 100%;
  height: 100%;
  /* CSS Smooth Scroll */
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}
/*------------------------------------------------------------------- Navbar --------------*/

.menu {
  font-size: 110%;
  list-style-type: none;
  letter-spacing: 4px;
  line-height: 55px;
  text-align: center;

  position: fixed;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 80px;
}

.menu ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: center;
}

.menu ul li {
  display: inline;
}

.menu ul li a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  padding: 5px;
}

.menu ul li a:hover {
  border-bottom: 1px solid #777777;
  color: #40454b;
}

.active {
  border-bottom: 1px solid #777777;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  scroll-snap-align: center;
}

section#home {
  background-image: url("../../assets/images/bg-img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

section#about {
  background: white cover;
}

section#contact {
  background: white cover;
}

.logo {
  margin-top: 55px;
  padding: 10px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

h2 {
  letter-spacing: 2px;
  text-align: center;
}

h3 {
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #555555;
  text-align: center;
  padding-top: 10px;
}

#circle-container {
  width: 280px;
  height: 280px;
  padding: 25px;
  border-style: solid;
  border-width: 1px;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 15px;
}

#circle-cover-bg {
  background: url("../../assets/images/profile-img-test.png") no-repeat center
    center;
  height: 100%;
  border-radius: 50%;
}

#profile-text {
  font-size: 130%;
  letter-spacing: normal;
  text-align: center;

  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;

  width: 800px;
  height: 250px;

  padding-top: 40px;
  padding-left: 10px;
  padding-right: 10px;

  background-color: #9da6aebe;

  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}

/*------------------------------------------------------------------- Progressbars --------------*/

.skills-container {
  position: relative;
  display: flex;
  justify-content: space-around;
}

.skills-container .card {
  position: relative;
  width: 200px;
  background: linear-gradient(0deg, #777777, #555555, #777777);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  border-radius: 4px;
  text-align: center;
  overflow: hidden;
  transition: 0.5s;
}

.box {
  position: relative;
  width: 300px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #fff;
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.2);
}

.box .percent {
  position: relative;
  width: 150px;
  height: 150px;
}

.box .percent svg {
  position: relative;
  width: 150px;
  height: 150px;
}

.box .percent svg circle {
  width: 150px;
  height: 150px;
  fill: none;
  stroke-width: 10;
  stroke: #000;
  transform: translate(5px, 5px);
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
}

.box .percent svg circle:nth-child(1) {
  stroke-dashoffset: 0;
  stroke: #f3f3f3;
}

.box .percent svg circle:nth-child(2) {
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
  stroke: yellow;
  opacity: 1;
  animation: animate-circle 2s cubic-bezier(0, 0.23, 1, 0.1);
}

.card:nth-child(1) .box .percent svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 70) / 100);
  stroke: yellow;
  opacity: 1;
  animation: animate-circle 2s cubic-bezier(0, 0.23, 1, 0.1);
}

.card:nth-child(2) .box .percent svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 50) / 100);
  stroke: yellow;
  opacity: 1;
  animation: animate-circle 2s cubic-bezier(0, 0.23, 1, 0.1);
}
.card:nth-child(3) .box .percent svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 40) / 100);
  stroke: yellow;
  opacity: 1;
  animation: animate-circle 2s cubic-bezier(0, 0.23, 1, 0.1);
}

.card:nth-child(4) .box .percent svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 60) / 100);
  stroke: yellow;
  opacity: 1;
  animation: animate-circle 2s cubic-bezier(0, 0.23, 1, 0.1);
}

.card:nth-child(5) .box .percent svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 70) / 100);
  stroke: yellow;
  opacity: 1;
  animation: animate-circle 2s cubic-bezier(0, 0.23, 1, 0.1);
}

.card:nth-child(6) .box .percent svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 50) / 100);
  stroke: yellow;
  opacity: 1;
  animation: animate-circle 2s cubic-bezier(0, 0.23, 1, 0.1);
}

.box .percent .number {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #999;
}

.box .percent .number h2 {
  font-size: 48px;
}

.box .percent .number h2 span {
  font-size: 24px;
}

.box .text {
  padding: 10px 0 0;
  color: #999;
  font-weight: 700;
  margin-top: 20px;
  text-transform: uppercase;
}

@keyframes animate-circle {
  30% {
    opacity: 0.3;
    stroke-dashoffset: 350;
  }
  50% {
    opacity: 0.5;
    stroke-dashoffset: 150;
  }
  100% {
    opacity: 1;
  }
}

/*------------------------------------------------------------------- Contact Form --------------*/

.contact-heading {
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 25px;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

button[type="submit"]{
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: teal;
}

/*------------------------------------------------------------------- Media Queries --------------*/

@media(min-width:992px) {
    .center-form {
    padding-top: 30px;
    min-height: 240px;
    max-width: 50%;
    margin: 0 auto;
}
}